---
import Layout from "@/layout/index.astro";

import PostCard from "@/components/post.astro";
import Container from "@/components/container.astro";

// Get posts by date:
import type { Post } from "@/types/post";

const posts = (await Astro.glob<Post>("./*.{md,mdx}"))
  .filter((post) => !post.frontmatter.draft)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.pubDate).valueOf() -
      new Date(a.frontmatter.pubDate).valueOf()
  );
---

<Layout pageTitle="Blog" description="Blog">
  <div
    class="w-full border-b border-neutral-800 pb-3 text-neutral-300 transition-all duration-100 hover:text-white"
  >
    <Container>
      <div class="flex flex-row items-center justify-between">
        <div class="flex flex-row items-center">
          <a href="/blog" class="flex flex-row items-center text-xl font-bold"
            >Blog</a
          >
        </div>
      </div>
    </Container>
  </div>
  <div class="py-w mx-auto px-4 md:px-0 md:py-6">
    <Container>
      {
        posts.map((post) => (
          <PostCard
            title={post.frontmatter.title}
            description={post.frontmatter.description}
            date={post.frontmatter.pubDate}
            url={post.url}
          />
        ))
      }
    </Container>
  </div>
</Layout>
