---
import Layout from "../layout/index.astro";
---

<Layout pageTitle="Home" description="Home">
  <div class="flex flex-col items-center justify-center px-4 py-5 md:py-14 md:px-0">
    <div class="flex items-center justify-between w-full max-w-6xl">
      <div>
        <h1 class="mb-4 text-3xl font-bold md:text-5xl">
          Hi, I&apos;m Pablo ✌️
        </h1>
        <p class="text-xl dark:text-gray-300">
          I&apos;m a frontend developer from Canary Islands.
        </p>
      </div>
    </div>
  </div>
</Layout>
