---
import Container from "./container.astro";
---

<Container>
  <footer
    class="mx-auto mt-20 flex items-center justify-center space-x-2 p-4 py-10 text-2xl opacity-50 dark:border-white/10"
  >
    <h1 class="font-bold">Pablo Hernández</h1>
    <span class="text-gray-500 dark:text-gray-400">-</span>
    <p>2023</p>
  </footer>
</Container>
