---
import Container from "./container.astro";
---

<Container>
  <footer
    class="mx-auto mt-20 p-4 py-10 opacity-50 dark:border-white/10 flex items-center justify-center space-x-2"
  >
    <h1 class="text-2xl font-bold">Pablo Hernández</h1>
  </footer>
</Container>
