---
import CustomContainer from "../components/container.astro";

import { headerLinks } from "../data/headerLinks";
import Socials from "./socials";
---

<div
  class="top-0 z-40 w-full bg-midnight/90 py-3 font-medium md:sticky md:py-7"
>
  <CustomContainer>
    <div class="flex w-full flex-col items-center justify-between md:flex-row">
      <a href="/">
        <div
          class="mb-4 flex items-center space-x-3 text-gray-300 transition-all duration-200 hover:-translate-y-0.5 hover:text-gray-100 md:mb-0"
        >
          <img
            width={36}
            height={36}
            src="/images/pic.jpg"
            alt="Logo"
            class="rounded-full"
          />
        </div>
      </a>
      <div
        class="flex flex-col items-center justify-center md:flex-row md:space-x-7"
      >
        <div class="flex flex-row space-x-7">
          {
            headerLinks.map((link) => (
              <a
                href={link.url}
                class="text-gray-400 transition-all duration-150 hover:text-gray-100"
              >
                {link.url}
              </a>
            ))
          }
        </div>
        <div>
          <Socials client:visible />
        </div>
      </div>
    </div>
  </CustomContainer>
</div>
