---
export interface PostProps {
  title: string;
  description: string;
  date: string;
  url?: string;
}

const { title, description, date, url } = Astro.props;
---

<a href={url ? url : ""}>
  <div class="flex flex-col p-4 border rounded-md border-neutral-800 hover:bg-neutral-900 duration-150 transition-all">
    <div class="flex items-center justify-between">
      <h1 class="text-xl font-medium">{title}</h1>
    </div>
    <p class="text-gray-400">{description}</p>
    <p>{date}</p>
  </div>
</a>
