---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="mb-4 pt-7">
  <div class="flex items-center mb-3 space-x-4">
    <h1 class="text-2xl dark:text-gray-300">{title}</h1>
  </div>
  <slot />
</div>
