---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="mb-6 pt-8">
  <div class="mb-3 flex items-center space-x-4">
    <h1 class="text-2xl font-semibold text-gray-300">{title}</h1>
  </div>
  <slot />
</div>
